@import "reset.css";

:root {
  --radius: 5px;
  --big-radius: 10px;
  --box-shadow: 0 8px hsla(249, 10%, 26%, 0.2);
}

@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Regular.ttf);
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Medium.ttf);
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url(../assets/fonts/Poppins-Bold.ttf);
  font-display: swap;
  font-weight: 700;
}

body {
  position: relative;
  min-height: 100dvh;
  background-color: hsl(0, 100%, 74%);
  background-image: url(../assets/images/bg-intro-mobile.webp);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  padding-inline: 1.5rem;
  padding-block: 5.8rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

section {
  text-align: center;
  color: white;
  display: grid;
  gap: 1.5rem;
}

section h1 {
  font-size: clamp(1.7rem, 3.4vw, 3rem);
  font-weight: 600;
  line-height: 1.3em;
}

section p {
  font-size: clamp(1rem, 1vw, 3rem);
}

.form-section {
  display: grid;
  gap: 1.6rem;
  max-width: 24rem;
}

.try {
  width: 100%;
  color: white;
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  text-wrap: balance;
  font-weight: 400;
  font-size: clamp(0.95rem, 1vw, 2rem);
  box-shadow: var(--box-shadow);
  border-radius: var(--big-radius);
  padding: 1.3rem;
}

.try span {
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  border-radius: var(--big-radius);
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
  min-height: 439.469px;
}

.input-error {
  position: relative;
}

.input-container {
  display: grid;
}

.input {
  padding: 0.9rem 1.2rem;
  border-radius: var(--radius);
  border: 1px solid hsl(246, 25%, 77%);
  width: 100%;
}

.input::placeholder {
  font-weight: 600;
  font-size: clamp(0.9rem, 1vw, 2rem);
}

.error-icon {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 1.2rem;
  display: none;
  animation: opacity 500ms ease-in-out;
}

.error-message {
  place-self: end;
  color: hsl(0, 100%, 74%);
  font-size: clamp(0.7rem, 0.5vw, 2rem);
  margin-top: 0.4rem;
  display: none;
  animation: translate 500ms ease-in-out;
}

.display-error {
  display: block;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes translate {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }
}

.btn-claim {
  width: 100%;
  color: white;
  border: none;
  background-color: hsl(154, 59%, 51%);
  text-transform: uppercase;
  border-radius: var(--radius);
  padding: 1rem;
  font-weight: 600;
  font-size: clamp(1rem, 1.2vw, 2rem);
  box-shadow: 0 -5px hsl(154, 59%, 40%) inset;
}

.btn-claim:hover,
.btn-claim:focus {
  opacity: 0.7;
  outline: none;
}

.btn-claim:active {
  opacity: 0.7;
  outline: none;
  transform: translateY(4px);
  transition: transform 100ms ease-in;
}

.terms-conditions {
  text-align: center;
  padding-inline: 1rem;
  text-wrap: pretty;
  font-size: clamp(0.7rem, 0.5vw, 2rem);
  line-height: 1.4em;
  color: hsl(246, 25%, 77%);
}

a {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

.attribution {
  text-align: center;
  color: white;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0.5rem;
}

.attribution a {
  background-color: black;
}

@media (min-width: 900px) {
  body {
    background-image: url(../assets/images/bg-intro-desktop.webp);
    padding-inline: 3rem;
  }
  main {
    flex-direction: row;
    max-width: 69rem;
  }
  section {
    text-align: left;
    max-width: 32rem;
  }
  .form-section {
    min-width: 33.5rem;
  }
  form {
    gap: 1.3rem;
    padding: 2.4rem;
    min-height: 476.562px;
  }
  .input {
    padding-inline-start: 1.8rem;
  }
}
